* {
    margin: 0;
    padding: 0;
}

.app {
    background-color: cadetblue;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;

    &__container {
        width: 80vw;
        min-height: 100vh;
        background-color: rgb(236, 175, 152);
        margin: 0 auto;
        padding: 10px 15px 10px 15px;
    }

    &__body {
        display: flex;

        .nav {
            width: 200px;
            background: green;
        }
        .content {
            width: calc(100% - 200px);
            background-color: coral;
        }
    }
}
